.class-details {
  padding:140px 3% 90px;
  display:block;
  position:relative;

  p {
    font-size:2rem;
    margin-bottom: 0em;
    padding-bottom:10px;
    @extend %font-light;
  }
}

p.extra-margin {
  margin:30px 0;
}

a.sign-up {
  background-color:transparent;
  text-transform:uppercase;
  font-size:1.875rem;
  @extend %font-bold;
  padding: 30px 100px;
  border: 5px solid $white;
  text-decoration:none;
  color:$white;
  transition: ease-in-out .3s;
  position:absolute;
  top:40%;
  right:3%;
}

a.sign-up:hover {
  background-color:$white;
  color:$orange;
  transition: ease-in-out .3s;
}

footer {
  background-image:url("../images/footer.jpg");
  background-repeat:no-repeat;
  background-size:cover;
  color:$white;
  margin:110px 0 0 0;
}

.footer-bottom {
  background-color: rgba(54, 25, 25, .2);
  padding:20px 3% 30px;
}

p.footer-logo {
  background-image: url("../images/factory-logo.svg");
  height:65px;
  width:102px;
  white-space: nowrap;
  overflow:hidden;
  text-indent:-9999px;
  background-size: contain;
  background-repeat:no-repeat;
  float:left;
  margin:0;
}

p.address {
  font-size:.875rem;
  line-height:1.25;
  margin:0;
  padding:25px 0 0 30px;
  display:inline-block;
}
