@import 'partials/normalize';
@import 'partials/colors';
@import 'partials/general';
@import 'partials/header';
@import 'partials/nav';
@import 'partials/landing';
@import 'partials/intro-quote';
@import 'partials/course-goals';
@import 'partials/colearners';
@import 'partials/instructor';
@import 'partials/adam-quote';
@import 'partials/footer';


@media (max-width:900px) {
  .instructor-info {
    width:50%;
  }
  blockquote {
    width:75%;
    font-size: 5vw;
  }
  .colearners > .colearners-list > li {
    width:33.33%;
  }
  .colearner-profile span {
    font-size: 6vw;
  }
  .colearners-list li:nth-child(4n+1) {
    clear:none;
  }
  .colearners-list li:nth-child(3n+1) {
    clear:left;
  }
  .class-details p {
  font-size:1.5rem;
  }
}
@media (max-width:768px) {
  .course-goals li {
    width: 50%;
  }
  .course-goals li:nth-child(3n+1) {
    clear:none;
  }
  .course-goals li:nth-child(2n+1) {
    clear:left;
  }
  .colearners > .colearners-list > li {
    width:50%;
  }
  .colearner-profile span {
    font-size: 1vw;
  }
  .colearner-profile span {
    font-size: 8vw;
  }
  .colearners-list li:nth-child(3n+1) {
    clear:none;
  }
  .colearners-list li:nth-child(2n+1) {
    clear:left;
  }

  .instructor-info {
    width:100%;
  }
  .instructor {
    padding:80px 40px;
  }
  h1 {
    font-size:4rem;
  }
  .intro-quote p {
    font-size:4vw;
    padding: 0 10% 0 10%;
  }

}
@media (max-width:520px) {
  .course-goals li {
    width: 100%;
    padding-bottom:50px;
  }
  h1 {
    font-size:3rem;
  }
  .colearner-profile span {
    font-size: 16vw;
  }
  blockquote {
    width:85%;
    font-size: 6vw;
  }
    .intro-text p {
    font-size:5vw;
    padding: 0 5% 0 5%;
  }
  .colearners > .colearners-list > li {
    width:100%;
  }
  .colearners-list li:nth-child(2n+1) {
    clear:none;
  }
  .colearners-list li:nth-child(1n+1) {
    clear:left;
  }
  .colearners > .colearners-list > li {
    width:100%;
    padding: 0 0 45px 0;
  }
  .colearners {
    padding: 95px 15%;
  }
}
@media (min-width:300px) and (max-width:450px) {
  blockquote {
    font-size: 8vw;
  }
}
